@{
    ViewBag.Title = "Home Page";
}

@model JiraGitHubPRCreator.Web.Models.PRRequestModel
           
@section scripts
{
    <script type="text/javascript">
        function FillBranches() {
            var repository = $('#Repository').val();
            $.ajax({
                url: '@Url.Action("FetchBranches")',
                type: "POST",
                dataType: "JSON",
                data: { Repository : repository },
                success: function (branches) {
                    $("#BranchName").html(""); // clear before appending new list 
                    $.each(branches, function (i, city) {
                        $("#BranchName").append(
                            $('<option></option>').val(city).html(city));
                    });
                }
            });
        }
    </script>
}

<div class="jumbotron">
    <h1>GitHub & JIRA PR Creator</h1>
    <p class="lead">How exciting!</p>
</div>
<div class="row">
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message</li>
        }
    </ul>
</div>
<div class="row">
    @using (Html.BeginForm("Submit", "Home"))
    {
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Repository, "Repository")
                @Html.DropDownListFor(m => m.Repository, Model.Repositories.Select(r => new SelectListItem { Text = r, Value = r }), new { onchange = "FillBranches()" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BranchName, "Branch Name")
                @Html.DropDownListFor(m => m.BranchName, Model.Branches.Select(b => new SelectListItem { Text = b, Value = b }))
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JiraIssueId, "JIRA Issue ID")
                @Html.TextBoxFor(m => m.JiraIssueId, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PullRequestTitle, "Pull Request Title")
                @Html.TextBoxFor(m => m.PullRequestTitle, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, "Description")
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class ="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.MIv7, "MI 7.0")
                @Html.CheckBoxFor(m => m.MIv7, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MIv80, "MI 8.0")
                @Html.CheckBoxFor(m => m.MIv80, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MIv81, "MI 8.1")
                @Html.CheckBoxFor(m => m.MIv81, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MIvNext, "MI Next")
                @Html.CheckBoxFor(m => m.MIvNext, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddLinksToJira, "Add Pull Request Links to JIRA")
                @Html.CheckBoxFor(m => m.AddLinksToJira, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SetJiraIssuePendingMerge, "Set JIRA issue to 'Pending Merge'")
                @Html.CheckBoxFor(m => m.SetJiraIssuePendingMerge, new { @class = "form-control" })
            </div>
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>